@charset "utf-8";

html {
font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #4c4c4c;
    //background-color: #F4F5EF;/* 落ち着いた色               Cloud9の背景*/
}

//@mixin fontsize($size: 24, $base: 10) {
//font-size: $size + px;
//font-size: ($size / $base) * 1rem;
//}

//$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
//$color_1 : #42b9d0;
//$color_2 : #339fd1;
//$color_3 : #eaf2f4;

/**************************************/
/*  バックイメージ */
.container_back {
  max-width: 1000px;
  margin: 0 auto;
  padding:0 0px;
  @media (max-width: 550px) {
  /*  バックイメージ */
      .container_back {
            max-width: 550px;
            margin: 0 auto;
    
        }
  /*  バックイメージまで */      
      
      

  }

    .row_back{
        /*max-width: 940px;
        height: 2432px;
        background-image:url(../images/top/top_pc.png);*/
        
        max-width: 1000px;
        height: 859px;
        background-image:url(../images/top/top_img_3.jpg);
        
        background-size: cover;
        background-position: center center;
        
        border: 0px solid #888888;
        @media (max-width: 550px) {
            /*  バックイメージ */
          .row_back{
              max-width: 550px;
              height: 6000px;
              background-image:url(../images/top_sp/top_sp.jpg);
              background-size: cover;
              background-position: center center;
          }
          /*  バックイメージまで */      
        }
        
          /*  バックイメージ まで*/
          header{
            //background:#999999;
            #header_in{
              width:100%;
              height:100px;
              border:1px solid green;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              .logo{
                //width:0px;
                width:50%;
                height:100px;
                float:left;
                padding:20px 0 0 45px;
                -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
                
                .logo_ing{
                  
                  
                  border:1px solid red;
                }
              }
              .navi{
                //width:0px;
                width:50%;
                height:75px;
                float:left;
                border:1px solid gold;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                .pc_navi{
                  display:block;
                  padding:30px 0 0 50px;
                  //border:1px solid #123456;
                  .pc_navi_li{
                    display:block;
                     float:left;
                     margin:0 0px 0 12px;
                     border:1px solid #123456;
                    
                  }.pc_navi_li_facebook{
                    display:block;
                     float:left;
                     margin:0 0px 0 8px;
                     border:1px solid #123456;
                    
                  }
                  
                }
                @media (max-width: 550px){
                .pc_navi{
                  display:none;
                }
              }
              }
              .sp_navi{
                display:none
                
              }
              
            }
     
            
          }
          
          #contents{
            width: 100%;
            height:2000px;
            
            border:1px solid #666666;
             -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            @media (min-width: 550px){
                
              
            }
            #main{
              display:block;
              width:74%;
                  height: 3000px;
                  float:left;
                  padding:0 0px 0px 40px;
              
              
              //background:red;
             
              
              border:1px solid #000000;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              
              
              // newitems
                    .newitems {
                      //padding-bottom: 0;
                      .title_newitems {
                        //max-width: 100%;
                          display: block;
                          //margin:18px 20px 20px 0px;
                          margin: 10px 0px 10px 0px;
                         // padding-right: 20px;
                          //margin-right: 20px;
                        //margin-top: 18px;
                        //margin-light: 18px;
                        //margin-bottom: 20px;
                      }
                     .newitems-boxs{
                       display:block;  
                       margin-top:20px;
                        .newitems-box {
                          width: (100% / 3);
                          float: left;
                          background:#FFFFFF;
                          padding:10px;
                          margin:0 0px 0 0;
                          //height: 100%;
                          -webkit-box-sizing: border-box;
                          -moz-box-sizing: border-box;
                          box-sizing: border-box;
                          .newitems-img {
                            max-width: 100%;
                            display: block;
                          }
                          .newitems-font {
                            
                            
                            h3 span .font-h3 {
                              font-size: 1.6rem;
                              margin: 0 0 15px;
                              font-weight: bold;
                            }
                            p span .font-ps{
                              font-size: 1.0rem;
                               margin: 0 0 15px;
                            }
                            
                          }
                        
                        }
                      }
                      &::after {
                        content: '';
                        display: block;
                        clear: both;
                      }
                    }
                    #shopping-guide {
                      //padding-bottom: 0;
                      .title_shopping-guide {
                        //max-width: 100%;
                          display: block;
                          //margin:18px 20px 20px 0px;
                          margin: 10px 0px 10px 0px;
                         // padding-right: 20px;
                          //margin-right: 20px;
                        //margin-top: 18px;
                        //margin-light: 18px;
                        //margin-bottom: 20px;
                      }
                     .shopping-guide-boxs{
                       display:block;  
                       margin-top:20px;
                        .shopping-guide-box {
                          width: (100% / 2);
                          float: left;
                          background:#FFFFFF;
                          padding:10px;
                          margin:0 0px 0 0;
                          //height: 100%;
                          -webkit-box-sizing: border-box;
                          -moz-box-sizing: border-box;
                          box-sizing: border-box;
                          
                          
                            
                            
                            .font-h2 {
                              display:block;
                              font-size: 2.0rem;
                              margin: 0 0 30px;
                              font-weight: bold;
                              border:1px solid #123456;
                            }
                            .otodoke-img{
                              display:block;
                              margin: 0px 0 30px;
                              border:1px solid #123456;
                            }
                            .font-p{
                              font-size: 1.0rem;
                               margin: 0 0 15px;
                            }
                            .shopping-guide-img {
                            max-width: 100%;
                            display: block;
                          }
                          
                        
                        }
                      }
                      &::after {
                        content: '';
                        display: block;
                        clear: both;
                      }
                    }
              @media (max-width: 550px){
                  //clear: both;
                  width:100%;
                  height: 6000px;
                 
              
              
                  
              }
              
            }
            #sidebar{
              
              //.pc_sidemenu{
                    width:26%;
                    height: 3000px;
                     float:left;
              
                
                //background:green;
                
                
                border:1px solid #222222;
                -webkit-box-sizing: border-box;
                 -moz-box-sizing: border-box;
                  box-sizing: border-box;
                  @media (max-width: 550px){
                
                    //clear: both;
                    width:100%;
                    height: 6000px;
                  }
                  
                  
                }
              //}
            
            }
        
          }
    
}
