@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: .1em;
  color: #4c4c4c;
  background: #F8F7F5; }

/**************************************/
/*  バックイメージ */
.container_back {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0; }
  @media (max-width: 550px) {
    .container_back {
      max-width: 550px;
      margin: 0 auto; } }

header #header_in {
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  header #header_in .logo {
    display: block;
    width: 50%;
    height: 100px;
    float: left;
    padding: 36px 0 0 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  @media (max-width: 550px) {
    header #header_in .logo {
      display: none; } }
  header #header_in .navi {
    width: 50%;
    height: 120px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    header #header_in .navi .pc_navi {
      display: block;
      padding: 60px 0 0 45px; }
      header #header_in .navi .pc_navi .pc_navi_li {
        display: block;
        float: left;
        margin: 0 0px 0 15px; }
      header #header_in .navi .pc_navi .pc_navi_li_facebook {
        display: block;
        float: left;
        margin: 0 0px 0 8px; }
    @media (max-width: 550px) {
      header #header_in .navi .pc_navi {
        display: none; } }
    header #header_in .navi .sp_navi {
      display: none; }
    @media (max-width: 550px) {
      header #header_in .navi .sp_navi {
        display: block;
        width: 35%;
        height: 160px;
        margin: 0 auto;
        text-align: center; }
        header #header_in .navi .sp_navi .logo {
          display: block;
          width: 100%;
          height: 100px;
          padding: 30px 0 30px 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        header #header_in .navi .sp_navi .sp_navi_li {
          display: block;
          width: 100%;
          height: 80px; }
          header #header_in .navi .sp_navi .sp_navi_li li {
            display: block;
            width: 33.333%;
            float: left;
            margin: 0; }
          header #header_in .navi .sp_navi .sp_navi_li .li_img {
            width: 70%; } }
  @media (max-width: 550px) {
    header #header_in .navi {
      width: 100%;
      height: 160px; } }

#contents {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #897966;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #contents #main {
    display: block;
    width: 74%;
    float: left;
    padding: 0 0px 0px 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 550px) {
      #contents #main {
        width: 100%; } }
    #contents #main .slider {
      width: 100%; }
    #contents #main .newitems .title_newitems {
      background-image: url("../images/top/title_newitems.png");
      width: 100%;
      height: 50px;
      background-size: auto;
      background-position: center center;
      background-repeat: no-repeat; }
      @media (max-width: 550px) {
        #contents #main .newitems .title_newitems {
          background-image: url("../images/top_sp/title_new_item.png");
          width: 100%;
          height: 50px;
          background-size: auto;
          background-position: center center;
          background-repeat: no-repeat; } }
  @media screen and (max-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 550px) and (min-resolution: 2dppx) {
    #contents #main .newitems .title_newitems {
      background-image: url("../images/top_sp/title_new_item@2x.png");
      width: 100%;
      height: 50px;
      background-size: auto;
      background-position: center center;
      background-repeat: no-repeat; } }

    #contents #main .newitems .title_popular {
      background-image: url("../images/top/title_popular.png");
      width: 100%;
      height: 50px;
      background-size: auto;
      background-position: center center;
      background-repeat: no-repeat; }
      @media (max-width: 550px) {
        #contents #main .newitems .title_popular {
          background-image: url("../images/top_sp/title_popular.png");
          width: 100%;
          height: 50px;
          background-size: auto;
          background-position: center center;
          background-repeat: no-repeat; } }
  @media screen and (max-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 550px) and (min-resolution: 2dppx) {
    #contents #main .newitems .title_popular {
      background-image: url("../images/top_sp/title_popular@2x.png");
      width: 100%;
      height: 50px;
      background-size: auto;
      background-position: center center;
      background-repeat: no-repeat; } }

    #contents #main .newitems .newitems-boxs {
      display: block;
      padding-top: 5px; }
      #contents #main .newitems .newitems-boxs .newitems-img {
        display: block; }
      #contents #main .newitems .newitems-boxs .newitems-box {
        display: block;
        width: 32.333%;
        float: left;
        background: #FFFFFF;
        padding: 12px;
        margin: 0 0 0 1%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        @media (max-width: 550px) {
          #contents #main .newitems .newitems-boxs .newitems-box {
            width: 48%;
            float: left; } }
        #contents #main .newitems .newitems-boxs .newitems-box .newitems-img {
          width: 100%;
          padding: 0 0 10px 0px; }
        #contents #main .newitems .newitems-boxs .newitems-box .newitems-font {
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          #contents #main .newitems .newitems-boxs .newitems-box .newitems-font .font-h3 {
            font-size: 1.0rem;
            font-weight: bold;
            margin-top: 8px; }
          #contents #main .newitems .newitems-boxs .newitems-box .newitems-font .font-ps {
            font-size: 0.8rem;
            margin-top: 10px; }
    #contents #main .newitems::after {
      content: '';
      display: block;
      clear: both; }
    #contents #main #shopping-guide .text-center {
      text-align: center;
      font-size: 3.2rem;
      /* section要素見出しを32pxで揃える */
      display: block;
      margin-right: auto;
      margin-left: auto;
      font-family: 'Abel', sans-serif;
      text-transform: uppercase;
      margin-bottom: 60px;
      color: #fdfcf6; }
    #contents #main #shopping-guide .title_shopping-guide {
      background-image: url("../images/top/title_guide.png");
      width: 100%;
      height: 50px;
      background-size: auto;
      background-position: center center;
      background-repeat: no-repeat; }
      @media (max-width: 550px) {
        #contents #main #shopping-guide .title_shopping-guide {
          background-image: url("../images/top_sp/title_guide.png");
          width: 100%;
          height: 50px;
          background-size: auto;
          background-position: center center;
          background-repeat: no-repeat; } }
  @media screen and (max-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 550px) and (min-resolution: 2dppx) {
    #contents #main #shopping-guide .title_shopping-guide {
      background-image: url("../images/top_sp/title_guide@2x.png");
      width: 100%;
      height: 50px;
      background-size: auto;
      background-position: center center;
      background-repeat: no-repeat; } }

    #contents #main #shopping-guide .shopping-guide-boxs {
      width: 100%;
      /* sectionの中のインナーボックスをウィンドウ幅に対して90%に */
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 550px) {
        #contents #main #shopping-guide .shopping-guide-boxs {
          display: block; } }
      #contents #main #shopping-guide .shopping-guide-boxs .shopping-guide-box {
        margin: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-flex: 1;
        flex: 1;
        padding: 2%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #ffffff; }
        #contents #main #shopping-guide .shopping-guide-boxs .shopping-guide-box img {
          width: 100%; }
        #contents #main #shopping-guide .shopping-guide-boxs .shopping-guide-box .otodoke-img {
          width: 50%; }
        #contents #main #shopping-guide .shopping-guide-boxs .shopping-guide-box i {
          font-size: 4.5rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 80px;
          height: 80px;
          margin-bottom: 5px;
          padding-top: 15px;
          text-align: center;
          color: #fff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background-color: #14c0c9; }
        #contents #main #shopping-guide .shopping-guide-boxs .shopping-guide-box h3 {
          font-size: 2.4rem;
          font-weight: bold;
          margin-bottom: 10px;
          color: #14c0c9; }
  #contents #sidebar {
    width: 26%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 550px) {
      #contents #sidebar {
        width: 100%; } }
    #contents #sidebar .pc_sidemenu {
      margin: 0 5px 0 20px; }
      #contents #sidebar .pc_sidemenu .search-box {
        margin-bottom: 10px;
        padding: 10px 20px;
        background: #fff; }
        #contents #sidebar .pc_sidemenu .search-box .search-box-font {
          margin-bottom: 10px; }
        #contents #sidebar .pc_sidemenu .search-box .text_input {
          width: 100%;
          padding: 2px;
          border: 0px;
          background: #EDEEF0;
          background-image: url(../images/top/search_icon.png);
          background-repeat: no-repeat;
          background-position: right center; }
      #contents #sidebar .pc_sidemenu .ipagelink-box {
        width: 100%;
        height: 50px;
        margin: 5px 0;
        background: #857E6B;
        display: -webkit-flex;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center; }
        #contents #sidebar .pc_sidemenu .ipagelink-box .ipagelink-box-font {
          width: 90%;
          padding: 0 0 0 10px; }
        #contents #sidebar .pc_sidemenu .ipagelink-box .ipagelink-box-icon {
          width: 10%;
          padding: 0 10px 0 0; }
      #contents #sidebar .pc_sidemenu .categories-li {
        padding: 10px; }
      #contents #sidebar .pc_sidemenu .categories-img {
        float: right; }
    #contents #sidebar .about-box {
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #contents #sidebar .about-box img {
        width: 100%; }
      #contents #sidebar .about-box .about-font {
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #contents #sidebar .about-box .about-font .more_btn {
          display: block;
          text-align: center;
          margin: 10px; }
    @media (max-width: 550px) {
      #contents #sidebar .about-box {
        width: 100%;
        display: -webkit-flex;
        display: flex; }
        #contents #sidebar .about-box .about-pic {
          width: 50%; }
        #contents #sidebar .about-box .about-font {
          width: 50%; } }
    @media (max-width: 550px) {
      #contents #sidebar {
        width: 100%; } }
  #contents .pagetop {
    position: absolute;
    bottom: 20px;
    right: 10px; }
    @media (max-width: 550px) {
      #contents .pagetop {
        display: none; } }
  #contents .pagetop_sp {
    display: none; }
    @media (max-width: 550px) {
      #contents .pagetop_sp {
        display: block;
        background-image: url("../images/top/pagetop.png");
        width: 100%;
        height: 50px;
        background-size: auto;
        background-position: center center;
        background-repeat: no-repeat; } }
  #contents::after {
    content: '';
    display: block;
    clear: both; }

#nav {
  list-style: none; }

#nav li {
  width: 140px;
  text-align: center;
  background-color: #333;
  display: inline-block; }

#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold; }

.foot-box {
  padding: 30px; }
  .foot-box .foot_navi {
    list-style: none;
    text-align: center; }
    .foot-box .foot_navi li {
      text-align: center;
      display: inline-block;
      margin-bottom: 8px; }
      .foot-box .foot_navi li a {
        text-decoration: none;
        font: 1.5em;
        font-weight: bold;
        margin-top: 8px;
        color: #000000; }
  .foot-box .foot_copy {
    text-align: center;
    font: 2px;
    margin-top: 15px; }

/*# sourceMappingURL=sample.css.map */
