@charset "utf-8";

//sass --watch --compass css/sample.scss:css/sample.css

html {
font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #4c4c4c;
    //background-color: #F4F5EF;/* 落ち着いた色               Cloud9の背景*/
}

/**************************************/
/*  バックイメージ */
.container_back {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  @media (max-width: 550px) {
  /*  バックイメージ */
      
            max-width: 550px;
            margin: 0 auto;
    
        
  /*  バックイメージまで */      
  }
}

.row_back{
        max-width: 940px;
        height: 2432px;
        background-image:url(../images/top/top_pc.png);
        

        //background:#F8F7F5;

        
        background-size: cover;
        background-position: center center;
        
        border: 0px solid #888888;
        @media (max-width: 550px) {
            /*  バックイメージ */
         
              max-width: 550px;
              height: 6000px;
              background-image:url(../images/top/top_sp.jpg);
              background-size: cover;
              background-position: center center;
          
          /*  バックイメージまで */      
        } 
}